.tdVehiculoMatricula div {
	width: 100px;
}

.tdVehiculoDescripcion div {
	width: 400px;
}

#divIFrameVehiculo {
	position: absolute;
	top: 100px;
	left: 100px;
	z-index: 3;
	border: solid 1px black;
	background-color: white;
}

#iFrameVehiculo {
	width: 640px;
	height: 320px;
	border: none;
}