#tableServicios {
	width: 700px;
	height: 318px;
}

#tableServicios thead {
	position: fixed;
}

#tableServicios thead tr .tdServicioPrecioServicioDescripcion {
	width: 400px;
}

#tableServicios thead tr .tdServicioPrecioMonedaDescripcion {
	width: 75px;
}

#tableServicios thead tr .tdServicioPrecioPrecio {
	width: 100px;
}

#tableServicios thead tr .tdServicioPrecioServicioServicioTipoDescripcion {
	width: 100px;
}

#tableServicios tbody {
	position: fixed;
	margin-top: 17px;
	overflow: auto;
	width: 697px;
	height: 299px;
}

#tableServicios tbody tr td .divServicioPrecioServicioDescripcion {
	text-align: left;
	margin-left: 2px;
	width: 398px;
}

#tableServicios tbody tr td .divServicioPrecioMonedaDescripcion {
	text-align: left;
	margin-left: 2px;
	width: 73px;
}

#tableServicios tbody tr td .divServicioPrecioPrecio {
	text-align: left;
	margin-left: 2px;
	width: 98px;
}

#tableServicios tbody tr td .divServicioPrecioServicioServicioTipoDescripcion {
	text-align: left;
	margin-left: 2px;
	width: 98px;
}

#divIFrameServicioPrecio {
	position: absolute;
	top: 100px;
	left: 100px;
	z-index: 3;
	border: solid 1px black;
	background-color: white;
}

#iFrameServicioPrecio {
	width: 640px;
	height: 320px;
	border: none;
}