#tableClientes {
	width: 895px;
	height: 318px;
}

#tableClientes thead {
	position: fixed;
}

#tableClientes thead tr .tdClienteDocumento {
	width: 89px;
}

#tableClientes thead tr .tdClienteNombre {
	width: 200px;
}

#tableClientes thead tr .tdClienteApellido {
	width: 200px;
}

#tableClientes thead tr .tdClienteDomicilio {
	width: 200px;
}

#tableClientes thead tr .tdClienteTelefono {
	width: 89px;
}

#tableClientes thead tr .tdClienteFechaAlta {
	width: 89px;
}

#tableClientes tbody {
	position: fixed;
	margin-top: 17px;
	overflow: auto;
	width: 891px;
	height: 299px;
}

#tableClientes tbody tr td .divClienteDocumento {
	text-align: left;
	margin-left: 2px;
	width: 87px;
}

#tableClientes tbody tr td .divClienteNombre {
	text-align: left;
	margin-left: 2px;
	width: 198px;
}

#tableClientes tbody tr td .divClienteApellido {
	text-align: left;
	margin-left: 2px;
	width: 198px;
}

#tableClientes tbody tr td .divClienteDomicilio {
	text-align: left;
	margin-left: 2px;
	width: 198px;
}

#tableClientes tbody tr td .divClienteTelefono {
	text-align: left;
	margin-left: 2px;
	width: 87px;
}

#tableClientes tbody tr td .divClienteFechaAlta {
	text-align: center;
	margin-left: 2px;
	width: 87px;
}

#divIFrameCliente {
	position: absolute;
	top: 100px;
	left: 100px;
	z-index: 3;
	border: solid 1px black;
	background-color: white;
}

#iFrameCliente {
	width: 768px;
	height: 320px;
	border: none;
}