.tdClienteNombre div {
	width: 400px;
}

#divIFrameCliente {
	position: absolute;
	top: 100px;
	left: 100px;
	z-index: 3;
	border: solid 1px black;
	background-color: white;
}

#iFrameCliente {
	width: 640px;
	height: 320px;
	border: none;
}